body {
  background-image:url("/images/starfall-gif-46.gif");
  background-size:cover;
  font-family: Arial, Helvetica, sans-serif;
}

#body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  height: 85vh;
}

#userName,#userInfo,#codecs,#bandwithSelect{
  color:white;
}

#onlineUserContainer h3{
color:white;
padding: 5px;
}

#onlineUserContainer{
  height:90vh;
  width:200px;
  background: none;
  /* border:2px white solid; */
  position:fixed;
  padding: 5px;
  z-index: 3;
}
.onlineUserDiv{
background-color: white;
padding:2px;
font-size: large;
margin:5px;
border-radius: 3px;
height:50px;
display:flex;
flex-direction: row-reverse;
justify-content:flex-end;
align-items: center;
}

.onlineUserDiv img{ 
  height:40px;
  margin-right:10px;
}

.dialWrapper {
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
  }
  
  .dialNumpadHWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  
  .dialNumber {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #inCall{
    color: white;
    font-size: larger;
  }
  
  .incomingWrapper {
    width: 300px;
    background-color: antiquewhite;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .itemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .actionButton {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dialActionButton {
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    cursor: pointer;
  }
  
  #errorMessage {
    color: red;
  }

  #controls{
    width: 100%;
    z-index:10;
  }

  #dataStats{
    position:fixed; 
    bottom:5px; 
    right:5px; 
    display:flex; 
    flex-direction: column;  
    z-index:5;
  }

  .showDataStats{
    color:black;
    background-color: white;
    border:none;
    border-radius:6px;
    font-size:medium;
    padding:5px;
  }

  .dataStatsContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  #endCall{
    background-color:red; 
    color:white; 
    padding:2px;
  }

  div.graph-container {

  }